@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --title-text: 14px;
  --body-text: 12px;
  --primary-text: #4b4b4d;
  --primary-blue: #01327e;
  --primary-orange: #ff8754;
  --primary-border: #99a1af;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--body-text);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background: #f0f0f0;
  color: var(--primary-text);
}

.pdf-page {
  width: 210mm;
  height: 297mm;
  margin: 1.5rem auto;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  page-break-after: always;
}

.page1 {
  font-size: 10px !important;
  .section-title {
    font-size: 12px !important;
  }
}

.form-container {
  width: 50%;
  display: flex;
  align-items: center;
}

#form-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-border);

  .logo_wrapper {
    width: 20%;
    align-self: center;
  }

  .header_text {
    flex: 1;
    text-align: center;

    p {
      margin-top: 0.2rem;
    }
  }

  .barcode {
    height: 50px;
    width: 150px;
    border: 1px solid var(--primary-border);
  }
}

#entity-mailing-address {
  .checkbox_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0.5rem 0;
  }

  .shopBidg {
    label {
      width: 20%;
    }
  }

  .roadName {
    label {
      width: 20.7%;
    }
  }

  .landmark {
    label {
      width: 20.7%;
    }
  }

  .city_pincode {
    display: flex;
    align-items: center;

    .city {
      width: 100%;
      display: flex;
      align-items: end;

      label {
        width: 37.5%;
      }
    }

    .pincode {
      width: 40%;
      display: flex;
      align-items: end;
    }
  }

  .state_country {
    display: flex;
    align-items: center;

    .state {
      width: 100%;
      display: flex;
      align-items: end;

      label {
        width: 37.5%;
      }
    }

    .country {
      width: 40%;
      display: flex;
      align-items: end;
    }
  }

  .tel_ext_fax {
    width: 100%;
    display: flex;
    align-items: center;

    .tel {
      width: 100%;
      display: flex;
      align-items: end;
      gap: 0.5rem;

      .tel_container {
        width: 50%;
        display: flex;
        align-items: end;

        label {
          width: 65%;
        }
      }

      .ext,
      .fax {
        display: flex;
        align-items: end;
      }
    }
  }

  .telR,
  .mobNo,
  .emailID {
    width: 50%;

    label {
      width: 53%;
    }
  }
}

#entity-contact-address {
  .section_header {
    justify-content: space-between;

    .checkbox_container {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  .shopBidg {
    label {
      width: 20%;
    }
  }

  .roadName {
    label {
      width: 20.7%;
    }
  }

  .landmark {
    label {
      width: 20.7%;
    }
  }

  .city_pincode {
    display: flex;
    align-items: center;

    .city {
      width: 100%;
      display: flex;
      align-items: end;

      label {
        width: 37.5%;
      }
    }

    .pincode {
      width: 40%;
      display: flex;
      align-items: end;
    }
  }

  .state_country {
    display: flex;
    align-items: center;

    .state {
      width: 100%;
      display: flex;
      align-items: end;

      label {
        width: 37.5%;
      }
    }

    .country {
      width: 40%;
      display: flex;
      align-items: end;
    }
  }

  .regAddressType {
    .checkbox_container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

#entity-type {
  .checkbox_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}

#entity-sub-category {
  .entity_sub_category_container {
    display: flex;
    margin-top: 0.5rem;

    .entity_sub_category_wrapper:not(:last-child) {
      border-left: 1px solid;
      border-bottom: 1px solid;
    }

    .entity_sub_category_wrapper:last-child {
      border-left: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
    }

    .entity_sub_category_wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        text-align: center;
        font-weight: 700;
        padding: 0.25rem 0.5rem;
        text-wrap: nowrap;
        border-top: 1px solid;
        border-bottom: 1px solid;
      }

      .checkbox_container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;

        .checkbox_wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          padding-right: 0.5rem;
          gap: 0.1rem;
        }

        .checkbox_wrapper:not(:last-child) {
          border-bottom: 1px solid;
        }
      }
    }
  }
}

#self-employeed-professional {
  .checkbox_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0.5rem;

    .checkbox_wrapper {
      border-top: 1px solid;
      border-left: 1px solid;
      padding: 0.25rem;
    }

    .checkbox_wrapper:nth-child(n + 4):nth-child(-n + 6) {
      border-bottom: 1px solid;
      border-left: 1px solid;
    }

    .checkbox_wrapper:nth-child(3n) {
      border-right: 1px solid;
    }
  }
}

#nature-of-business {
  .checkbox_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0.5rem;

    .checkbox_wrapper {
      border-top: 1px solid;
      border-left: 1px solid;
      padding: 0.25rem;
    }

    .checkbox_wrapper:nth-child(8) {
      grid-column: span 3;
    }

    .checkbox_wrapper:nth-child(n + 6):nth-child(-n + 8) {
      border-bottom: 1px solid;
      border-left: 1px solid;
    }

    .checkbox_wrapper:nth-child(5),
    .checkbox_wrapper:nth-child(8) {
      border-right: 1px solid;
    }
  }
}

#business-details {
  .checkbox_container {
    display: flex;
    gap: 1rem;
  }
}

#nature-of-industry {
  .checkbox_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0.5rem;

    .checkbox_wrapper {
      border-top: 1px solid;
      border-left: 1px solid;
      padding: 0.25rem;

      &:last-child {
        grid-column: span 2;
      }

      &:nth-child(4n),
      &:last-child {
        border-right: 1px solid;
      }

      &:nth-child(41),
      &:nth-child(42),
      &:nth-child(43) {
        border-bottom: 1px solid;
      }
    }
  }
}

#entity-proof-declaration {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .main-text {
    font-size: var(--title-text);
    font-weight: 700;
  }

  .proof_details {
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 1rem;

    .proof_list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .aus_sign_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-top: 1rem;

    .aus_sign_img {
      height: 100px;
      width: 100%;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: 1rem;

      img {
        object-fit: contain;
        height: 90%;
        width: 100%;
      }
    }

    .aus_sign {
      width: 25%;

      p {
        text-align: center;
      }
    }
  }
}

#extended-annexure {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--primary-border);
  }

  .basic_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .date_afo {
      display: flex;
      justify-content: space-between;
      gap: 10%;
    }
  }

  .proof_doc_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .checkbox_wrapper {
      div {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

.bo_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  .bo-header {
    text-align: center;
    color: black;
  }

  .bo_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .bo_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      .row {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 40% 40%;
        border: 1px solid;

        div {
          padding: 0.5rem;
        }
        input {
          width: 100% !important;
        }

        .desc {
          display: flex;
          justify-content: start;
          align-items: center;
          font-weight: 600;
          color: black;
        }

        .value {
          width: 100%;
          border-left: 1px solid;

          div {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.25rem;
          }
        }
      }
    }
  }
}

#aus-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--primary-border);
  }

  .aus_container {
    table {
      border-collapse: collapse;
      width: 100%;

      tr {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        border: 1px solid;
        border-bottom: none;
      }

      td {
        border-right: 1px solid;
        padding: 0.5rem;
        display: flex;
        align-items: end;
      }

      tr td:nth-child(1) {
        display: flex;
        justify-content: start;
        align-items: center;
        color: black;
      }

      tr td:not(:nth-child(1)) {
        div {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
      }

      tr td:last-child {
        border-right: none;
      }

      tr:last-child td {
        border-bottom: 1px solid;
      }

      .sign_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .sign_wrapper {
          height: 100px;
          width: 100%;
          border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          padding: 1rem;

          img {
            object-fit: contain;
            height: 90%;
            width: 100%;
          }
        }
      }

      .photo_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .photo_wrapper {
          height: 150px;
          width: 120px;
          border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            object-fit: contain;
            height: 90%;
            width: 90%;
          }
        }
      }
    }
  }
}

#extended-declaration {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--primary-border);
  }

  .date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .form-container:first-child {
      width: 16%;
    }
  }

  .mandatory_headline {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 14px;
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .third-question {
      display: flex;
      align-items: start;
      gap: 0.5rem;

      .third-question-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        div {
          width: 48%;
        }

        /* .dateBusiness {
          width: 50%;
        } */
      }
    }

    .fourth-question {
      display: flex;
      align-items: start;
      gap: 0.5rem;
    }

    .checkbox-question-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .checkbox-question {
        display: flex;
        gap: 1rem;

        label {
          max-width: 70%;
        }

        .checkboxes {
          display: flex;
          align-items: start;
          gap: 1rem;

          div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }
    }

    .fifth-question {
      .question-title {
        margin-bottom: 1rem;

        p {
          font-weight: 600;
          color: black;
          margin-bottom: 0.3rem;
        }
        span {
          margin-left: 0.6rem;
        }
      }

      > :last-child {
        margin-left: 1rem;
      }

      .question-c {
        display: flex;
        align-items: start;
        gap: 0.25rem;

        .nested-question {
          margin-bottom: 1rem;
          /* width: 120%; */
        }

        .relationNature {
          display: flex;
          align-items: center;
          gap: 1rem;

          .relationNature-checkbox-wrapper {
            margin-top: -1rem;

            div {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }

        .stockExchange {
          div {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}

#fatca-crs {
  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--primary-border);
  }

  .terms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    strong {
      font-weight: 600;
      color: black;
    }

    ul {
      margin-left: -1rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .declaration {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

#annexure-1 {
  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--primary-border);

    p {
      margin: 0.5rem 2rem;
    }
  }

  strong {
    color: black;
  }

  .part-a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    border-bottom: 2px solid var(--primary-border);

    .part-title {
      font-size: 14px;
    }

    .questions-wrapper {
      .question-container {
        display: flex;
        align-items: start;
        gap: 0.5rem;

        .question {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .select-id {
            margin: 0.5rem 0 0.5rem 1rem;
          }

          .checkbox-container {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 0 1rem;

            .checkbox {
              display: flex;
              align-items: center;
            }

            .others {
              #other {
                width: 300px !important;
              }
            }
          }

          .idNo {
            margin: 0.5rem 1rem 0;
          }

          .tax-address {
            display: flex;
            align-items: start;

            div {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
        }
      }

      .address-title {
        margin-left: 1.5rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
      }
    }
  }

  .part-b {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;

    .part-title {
      font-size: 14px;
    }

    .question-container {
      display: flex;
      align-items: start;
      gap: 0.5rem;

      .question {
        width: 95%;

        table {
          border-collapse: collapse;
          width: 100%;
          margin-top: 0.5rem;

          tr {
            display: grid;
            grid-template-columns: 35% 35% 30%;
            border: 1px solid;

            &:not(:last-child),
            &:first-child {
              border-bottom: none;
            }
          }

          td,
          th {
            border-right: 1px solid;
            padding: 0.5rem;
          }

          td {
            display: flex;
            align-items: end;
            height: 30px;
          }
        }

        .checkbox-container {
          display: flex;
          align-items: start;
          gap: 1rem;

          .checkbox {
            display: flex;
            align-items: center;
            gap: 0.3rem;
          }
        }
      }

      .tenth-question {
        div {
          display: flex;
          align-items: start;
          gap: 0.5rem;
        }
      }

      .table-11-a {
        border-collapse: collapse;
        width: 100%;
        margin-top: 0.5rem;

        tr {
          display: flex;
          border: 1px solid;
          width: 100%;

          &:not(:last-child),
          &:first-child {
            border-bottom: 1px solid !important;
          }
        }

        /* td,
        th {
          border-right: 1px solid;
          padding: 0.5rem;
        } */

        td {
          display: flex;
          align-items: start !important;
          height: 200px !important;
        }

        .entity-selection {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .checkbox-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }

        .giin-container {
          flex-direction: column !important;
          gap: 1rem !important;

          .giin-input {
            display: flex;
            gap: 0.5rem;
          }
        }

        .sponsoringEntity-container {
          input {
            margin-right: -7rem !important;
          }
        }

        .giin-not-available {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .checkbox-wrapper {
            .checkbox-container {
              flex-direction: column;
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
}

#annexure-1-page-2 {
  .question-wrapper {
    border: 1px solid;

    .question-title {
      border-bottom: 1px solid;
      padding: 0.5rem;
    }

    .question-container {
      .question {
        display: flex;

        .qNo {
          width: 5%;
          text-align: center;
          border-right: 1px solid;
          padding: 1rem;
        }

        .question-text {
          padding: 0.5rem;

          div {
            display: flex;
            align-items: start;
            gap: 1rem;
          }

          .checkbox {
            gap: 0 !important;
            align-items: center;
          }
        }

        .refer-parts {
          display: flex;
          flex-direction: column;
          gap: 0.5rem !important;
        }

        .question-text-c {
          flex: 1;
          display: flex;

          .col1,
          .col2 {
            padding: 1rem;
          }

          .col1 {
            width: 30%;
            border-right: 1px solid;
          }

          .col2 {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .checkbox-container {
              display: flex;
              align-items: center;
              gap: 1rem;

              .checkbox {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }

      .question-c {
        border-bottom: 1px solid;
      }
    }
  }
}

#annexure-2,
.annexure-2 {
  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--primary-border);

    p {
      margin: 0.5rem 2rem;
    }
  }

  .content {
    margin-top: 1rem;

    .aofNo {
      margin-bottom: 1rem;
      margin-left: auto;
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.bo-annexure-table {
  border-collapse: collapse;

  tbody {
    tr {
      border: 1px solid black !important;

      td {
        padding: 0.5rem;

        input {
          margin-right: -1rem !important;
        }

        &:nth-child(3),
        &:nth-child(4) {
          width: 35% !important;
        }

        &:not(:last-child) {
          border-right: 1px solid !important;
        }
      }
    }
  }
}
